ul {
  padding: 0px 0px 0px 0px; /* Espaço ocupado pelo elemento elemento */
  margin: 0% 0%; /* Onde começa o elemento da página */

  list-style: none; /* Retira as bolinhas de marcação da lista */

  width: 20%; /* Largura */
  height: 25%; /* Altura */
  position: relative;
}

ul li {
  font-size: 30px; /* Tamanho da fonte */
  font-family: "Hind", sans-serif; /* A fonte utilizada no elemento */

  text-align: left; /* posição do texto dentro do elemento */
  text-decoration: none; /* forma de destaque do texto */

  padding: 1px 20px 1px 0px;

  width: 70%;
  height: 100%;

  position: relative;
}

ul li a {
  padding: 10px 0px 10px 20px;

  color: rgb(40, 40, 40);

  text-align: left;
  text-decoration: none;

  display: block; /* Ocupa o espaço inteiro do li */

  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);

  position: relative;

  border-style: solid;
  border-color: rgb(220, 220, 220); /* Cor da borda do elemento */
  border-width: 1.5px; /* Tamanhho da borda do elemento */
}

ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(220, 220, 220); /* Cor de fundo do elemento */
}
