body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #e2fbff;
}

.classA {
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  color: #333333;
}

#id1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

p {
  text-indent: 16pt;
}
