.cabecalho{
  padding: 0px 0px 0px 10px;
  background-color: rgb(100, 100, 100);

  text-align: left;
  font-size: 30px;
  font-family:serif;
  color: white;

  position: relative;
}

.menu{

  margin: 0px;
  display: block;

  width: 200px;
  height: auto;
  float: left;

  /*background: blue;*/
  position: relative;
}

.lateral{
  padding: 0px 0px 0px 20px;
  margin-left: 250px;
  font-size: 20px;

  border-left: 1px solid;
  position: relative;
}

.baixo{
  display: block;
  padding: 3px;
  margin: 0% 0px 0px 0px;

  width: 100%;
  height: 30px;

  font-size: 20px;
  color: white;

  background-color: rgb(100,100,100);
  position: absolute;
}

ul{
  padding: 0px 0px 0px 0px; /* Espaço ocupado pelo elemento elemento */
  margin: 0% 0%; /* Onde começa o elemento da página */

  list-style: none; /* Retira as bolinhas de marcação da lista */

  width: 90%; /* Largura */
  height: 25%; /* Altura */
  position: relative;
}

ul li{
  font-size: 30px; /* Tamanho da fonte */
  font-family: 'Hind', sans-serif; /* A fonte utilizada no elemento */

  text-align: left; /* posição do texto dentro do elemento */
  text-decoration: none;; /* forma de destaque do texto */

  padding: 1px 0px 1px 0px;

  width: 100%;
  height: 100%;

  position: relative;
}

ul li a{
  padding: 10px 0px 10px 20px;

  color: rgb(40, 40, 40);

  text-align: left;
  text-decoration: none;

  display: block; /* Ocupa o espaço inteiro do li */

  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);

  position: relative;

  border-style:  solid;
  border-color: rgb(220,220,220); /* Cor da borda do elemento */
  border-width: 1.5px; /* Tamanhho da borda do elemento */
}

ul li a:hover{
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(220, 220, 220); /* Cor de fundo do elemento */
}
